/* Main Css */
.header {
  border-top: 6px solid #75c38f;
  background-color: #2a0403;
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}

.top-section {
  min-height: 500px;
  background-color: #2a0403;
  color: #fff;
}

.modernist-title {
  float: left;
  font-weight: 300;
}

/* nav bar */
.nav-menu {
  float: right;
}

.nav-menu li {
  display: inline-block;
  margin: 0 5px;
}

.nav-menu li a {
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: .9em;
  cursor: pointer;
}

.nav-menu li:hover a,
.nav-menu li.active a {
  background-color: #75c38f;
}

/* Carousel */
.home-carousel {
  display: flex;
  flex-direction: row;
}

.left-arrow,
.right-arrow {
  width: 48px;
  display: flex;
  align-items: center;
}

.carousel-container {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

.carousel-item {
  width: 100%;
  display: inline-block;
  white-space: normal;
  transition: margin-left .3s;
}

.carousel-item-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.carousel-item-left {
  margin: auto 30px;
}

.carousel-item h2 {
  margin-top: 30px;
}

.carousel-item p {
  color: #7c7171;
  padding: 15px 0;
  margin: 25px 0;
}

.carousel-title {
  font-size: 47px;
  font-weight: 100;
  line-height: 1;
}

.read-more {
  display: block;
  background-color: #75c38f;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.read-more:hover {
  background-color: #62af7b;
}

.circle-image {
  height: 380px;
  width: 380px;
  background-color: #333333;
  border: 24px solid grey;
  border-radius: 50%;
}

.circle-image img {
  max-width: 100%;
  border-radius: 50%;
}

.right-arrow {
  justify-content: flex-end;
}

/* service-section */
.service-section {
  background-color: #661311;
}

.services {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.service-item {
  padding: 30px;
  background-color: #fff;
  color: #333331;
  margin: auto;
  text-align: center;
  cursor: pointer;
}

.img-box {
  height: 120px;
  width: 120px;
  background-color: #333331;
  margin: 0 auto;
}

.service-item h2 {
  font-size: 36px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.service-item p {
  font-size: 14px;
  color: #777;
}

.service-item:hover {
  background-color: #75c38f;
}

.service-item:hover .img-box {
  background-color: #fff;
}

.service-item:hover h2,
.service-item:hover p {
  color: #fff;
}

/* Latest work section */
.latest-work-section {
  background-color: #661311;
  text-align: center;
}

h2.latest-work-heading {
  display: inline-block;
  color: #fff;
  background-color: #333331;
  padding: 4px 15px;
  border-radius: 10px;
  margin: 15px 0;
}

h2.latest-work-heading:after,
h2.latest-work-heading:before {
  background-color: #333331;
  content: "";
  height: 4px;
  position: absolute;
  width: 35%;
  z-index: 0;
  margin-top: 10px;
}

h2.latest-work-heading:before {
  left: 128px;
}

.works {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 30px;

}

.works .work-list {
  background-color: #333331;
  border: 5px solid #fff;
  min-height: 190px;
  display: flex;
}

.bottom-text {
  align-self: flex-end;
  color: #fff;
  background-color: #000;
  width: 100%;
}

/* footer */
.footer-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.bottom-footer {
  background-color: #2b2b2b;
  color: grey;
  border-top: 1px solid #000;
}

.top-footer {
  background-color: #30302E;
}

.footer-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px 30px;
}

.top-footer input, .top-footer textarea {
  background-color: #232322;
  border: none;
  padding: 10px;
  margin: 4px 0;
  border-radius: 10px;
  width: 95%;
}

.footer-col h3 {
  color: #fff;
  font-size: 13px;
  margin-bottom: 15px;
}

.footer-col ul li {
  color: #75c38f;
  font-size: 15px;
  border-bottom: 1px dotted grey;
  line-height: 1.9;
}
